jersey-back/jersey-back-ws/.settings/.jsdtscope
jersey-back/jersey-back-ws/.settings/org.eclipse.core.resources.prefs
jersey-back/jersey-back-ws/.settings/org.eclipse.jdt.core.prefs
jersey-back/jersey-back-ws/.settings/org.eclipse.m2e.core.prefs
jersey-back/jersey-back-ws/.settings/org.eclipse.wst.common.component
jersey-back/jersey-back-ws/.settings/org.eclipse.wst.common.project.facet.core.xml
jersey-back/jersey-back-ws/.settings/org.eclipse.wst.jsdt.ui.superType.container
jersey-back/jersey-back-ws/.settings/org.eclipse.wst.jsdt.ui.superType.name
jersey-back/jersey-back-ws/.settings/org.eclipse.wst.validation.prefs
jersey-back/jersey-back-core/.settings/org.eclipse.core.resources.prefs
jersey-back/jersey-back-core/.settings/org.eclipse.jdt.core.prefs
jersey-back/jersey-back-core/.settings/org.eclipse.m2e.core.prefs
jersey-back/jersey-back-core/.settings/org.eclipse.wst.common.component
jersey-back/jersey-back-core/.settings/org.eclipse.wst.common.project.facet.core.xml
jersey-back/jersey-back-core/.settings/org.eclipse.wst.validation.prefs
jersey-back/.settings/org.eclipse.core.resources.prefs
jersey-back/.settings/org.eclipse.m2e.core.prefs
jersey-back/.project
jersey-back/jersey-back-core/.classpath
jersey-back/jersey-back-core/.project
jersey-back/jersey-back-ws/.classpath
jersey-back/jersey-back-ws/.project
jersey-back/jersey-back-ws/.springBeans
